
<!doctype html>
<html class="" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">

        <title>ColoredCloud</title>
        <meta name="robots" content="index, follow" />
        <meta name="description" content="Coloredcloud Graphic designer, webdesigner et développeur web à Lille. Création de sites internet. Design d'interfaces graphiques et ergonomiques. Voici mon portfolio où vous retrouverez tous mes projets, des news, ainsi qu'un formulaire pour me contacter." />
		<meta name="keywords" content="web design, responsive, web development, développeur web" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- favicon -->
<link rel="shortcut icon" href=""/>
<link rel="apple-touch-icon-precomposed" href=""/>


<!-- script -->
        <link type="text/css" href="css/style.css" rel="stylesheet" media="screen" />
        <link type="text/css" href="css/bootstrap.css" rel="stylesheet" media="screen" />
        <link rel="stylesheet" href="css/supersized.core.css" type="text/css" media="screen" />
        
</head>

<body>
<!-- ///////////////////////////// container header ////////////////// -->
<div class="container">
    

    <!-- ///////////////////////////// container wrapper ////////////////// -->
<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12 wrap">
        <div class="txtintro"> <h1 class="intro"><span class="flashy">Coloredcloud Atelier</span><br><span class="blanc">Web Designer</span> <br>et <span class="gris">Developpeur junior</span></h1></div>
    </div><!-- wrapper -->
</div><!-- row -->


<!-- ///////////////////////////// presentation ////////////////// -->
<!-- ///////////////////////////// row 1 ////////////////// -->

 <div class="row2">
            <div id="bio">
            <div class="col-md-3 col-sm-12 col-xs-12 bloc">
                <h2 class="cartoucherose">DESIGN GRAPHIC</h2>
                <p>Coloredcloud est un petit nuage qui file au grés du vent pour puiser toutes l’inspirations à travers ses collaborations professionnelles et ses différentes rencontres… Ce petit créatif est là pour vous trouver le meilleur moyen de communiquer et de donner une image à votre projet.</p>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-1 bloc">
                <h2 class="cartouchepink">DEVELOPPEMENT</h2>
                <p>Le developpement web est venu à moi pas du tout naturellement. Par la force des choses et de l'évolution j'ai appris a aimé cette partie du métier du numérique.</p>
            </div>

            <div class="col-md-3 col-sm-10 col-xs-12 col-md-offset-1 bloc">
                <h2 class="cartouchegray">DESIGN TEXTILE</h2>
                <p>Je suis passionnée du design textile depuis des années j'ai donc voulu continuer dans ce domaine qui me tient a coeur. La création ne se limite pas au papier ni à l'écran.</p>
            </div>
            </div><!-- bio -->
</div><!--#row-->

<!-- ///////////////////////////// row 2 ////////////////// -->
<div class="row">
    
    <div class="col-md-4 col-sm-12 col-xs-12 infos">
        <div class="content">
                <h4 class="gray">Mes compétences</h4>
                <img src="img/graphique_competences.jpg" alt="Telecharger mon cv"/>
        </div>
    </div>

     <div class="col-md-4 col-sm-12 col-xs-12 infos">
        <div class="content">
                <h4 class="gray">Telecharger mon cv</h4>
                <a href="img/cv_2016.pdf" target="_blank"><img src="img/img_cv.png" alt=""/></a>

                   
        </div>
    </div>  

     <div class="col-md-4 col-sm-12 col-xs-12 infos">
        <div class="content">
                <h4 class="gray">On reste en contact ?</h4>

                <%= form_for Newsletter.new do |f| %>

                <%= f.label :email %><br>
                <%= f.text_field :email %>
                <%= f.submit %>
                <% end %>
                <img src="img/encart_newsletter.jpg"  alt=""/>

        


        </div>
    </div>    

</div><!--#row-->


<!-- ///////////////////////////////////// FOOTER ///////////////////////////////-->
<div id="conteneur_footer">
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12 banner_footer">  
            <h4>footer</h4>
        
        </div><!--#footer -->

    <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 footer"> 
                    <ul id="contact">
                        <li class="tel">06 50 07 59 52</li>
                        <li class="mail">contact@coloredcloud.fr</li>
                    </ul>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 footer">
                         <ul id="reseaux_footer">
                            <li><a href="https://www.facebook.com/Coloredcloud-Atelier-graphique-328157747247/?fref=ts" target="_blank" id="facebook_footer"></a></li>
                            <li><a href="http://www.viadeo.com/fr/profile/stratis.bakas" target="_blank" id="viadeo_footer"></a></li>
                            <li><a href="http://www.linkedin.com/pub/stratis-bakas/32/771/439" target="_blank" id="linkedin_footer"></a></li>
                            <li><a href="http://www.behance.net/stratisbakas" target="_blank" id="behance_footer"></a></li>
                        </ul>
            </div>

             <div class="col-md-4 col-sm-4 col-xs-4 footer">
                        <ul id="menu_footer">
                            
                            <li><%=link_to 'Home', root_path%></li>
                            <li><%=link_to 'projets', projets_path%></li>
                            <li><%=link_to 'contact', contacts_path%></li>
                            <li><a href="http://www.coloredcloud.fr" target="_blank">Blog</a></li>
                        </ul>
            </div>



                </div><!-- .bloc_footer -->
    </div><!--#footer -->


</div><!--#container_footer -->


</div><!-- #container -->

<!-- script -->
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/supersized.core.3.2.1.js"></script>
        <script type="text/javascript" src="js/supersized.core.3.2.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/tri.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/npm.js"></script>
<!--#script -->
</body>
</html>