<!DOCTYPE html>
<html>
<head>
  <title>Ccprosite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "style"%>
  <%= stylesheet_link_tag "bootstrap"%>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <!-- ici on met les flash message pr la newsletter -->
  <% if flash[:notice] %> <!--ou juste notice autre synthaxe-->
      <%= notice %>
   <% end %>
   <% if flash[:alert] %>
      <%= alert %>
   <% end %>


    <!-- ///////////////////////////// container header ////////////////// -->

    <div class="row">
         <div class="col-md-12 col-sm-10 col-xs-12 header">

            <div id="logo">
                    <a href="">
                       <img src="img/logo.png" title="materiels" alt="les materiel"></img> 
                <!-- ici je peux mettre une autre version du logo pr le format portrait un logo vertical -->
                    </a>
                </div><!-- #logo -->

            <div id="menu">
                <nav class="navbar navbar-default">
                    <ul>

                        <li><%=link_to 'Home', root_path%></li>
                        <li><%=link_to 'projets', projets_path%></li>
                        <li><%=link_to 'contact', contacts_path%></li>

                       <!-- <li>
                            <a href="#" id="reseaux">Social</a>
                            <ul class="sub">
                                <li><a href="" target="_blank" id="twitter"></a></li>
                            </ul>                               
                        </li> -->
                    </ul>
                </nav>
             </div><!-- #menu -->
        </div><!-- #header -->
    </div><!-- #row-->
    </div><!-- #row-->

<%= yield %>




</body>
</html>
